<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset = "UTF-8"> 
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta name = "description" content = "MacGregor Winegard's portfolio, resume and biographical website.">
    <meta name = "author" content = "MacGregor Winegard">
    <title>MacGregor Winegard</title>
    <link rel="stylesheet" href = "../CSS/styles.css">
  </head>

  <body>
    <main>
      <header>
       <h1>MacGregor Winegard</h1>
       <h2>Data Engineer & Developer</h2>
       <p>
          Data Engineer and Developer, currently working for KPMG in the consulting practice.
          
       </p>
      </header>

    </main>

  </body>
</html>